:root {
    --first-color: #1B1919;
    --second-color: #616F39;
    --third-color: #A7D129;
    --fourth-color: #F8EEB4;
}
#unrevealed {
    background: url(./minesweeperTheme02.bmp) -440px 0px;
}
#unrevealed:active {
    background: url(./minesweeperTheme02.bmp) -560px, 0px;
}
#zero {
    background: url(./minesweeperTheme02.bmp) 0px 0px;
}
#one {
    background: url(./minesweeperTheme02.bmp) -40px 0px;
}
#two {
    background: url(./minesweeperTheme02.bmp) -80px, 0px;
}
#three {
    background: url(./minesweeperTheme02.bmp) -120px, 0px;
}
#four {
    background: url(./minesweeperTheme02.bmp) -160px, 0px;
}
#five {
    background: url(./minesweeperTheme02.bmp) -200px 0px;
}
#six {
    background: url(./minesweeperTheme02.bmp) -240px, 0px;
}
#seven {
    background: url(./minesweeperTheme02.bmp) -280px, 0px;
}
#mine {
    background: url(./minesweeperTheme02.bmp) -360px, 0px;
}
#mineRevealed {
    background: url(./minesweeperTheme02.bmp) -400px 0px;
}
#flag {
    background: url(./minesweeperTheme02.bmp) -480px, 0px;
}
#doubt {
    background: url(./minesweeperTheme02.bmp) -520px, 0px;
}
#faceButton {
    background: url(./minesweeperTheme02_fb.bmp) 0px, 0px;
}
#loseFaceButton {
    background: url(./minesweeperTheme02_fb.bmp) -120px, 0px;
}
#winFaceButton {
    background: url(./minesweeperTheme02_fb.bmp) -60px, 0px;
}
#minesCounterDiv {
    background-color: var(--first-color);
    color: var(--fourth-color);
}
body {
    background-color: var(--third-color);
}
button.faceButton:active {
    background: url(./minesweeperTheme02_fb.bmp) -180px, 0px !important;
}